<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Bienvenue sur le Dashboard</h1>
    </header>
    <main>
        <section>
            <h2>Section Principale</h2>
            <p>Bienvenue sur notre page d'accueil. Ici, vous trouverez les dernières mises à jour et informations importantes.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Dashboard. Tous droits réservés.</p>
    </footer>
</body>
</html>